/ {
  keymap {
    compatible = "zmk,keymap";
    System {
      label = "System";
      bindings = 
       <&bt BT_NXT  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &out OUT_BLE
        &trans      &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
        &bt BT_CLR  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &out OUT_USB
                                    &trans  &trans  &trans    &trans  &trans  &trans>;
    };
  };
};
