/ {
  keymap {
    compatible = "zmk,keymap";
    System {
      label = "System";
      bindings = 
       <&bt BT_NXT  &trans     &kp KP_NUM  &kp SLCK     &kp CAPS    &kp PRINTSCREEN     &trans      &kp K_PP      &kp K_MUTE    &trans      &trans  &out OUT_BLE
        &trans      &sk LSHFT  &sk LALT    &sk LGUI     &sk LCTRL   &kp LC(LA(DELETE))  &kp K_PREV  &kp K_VOL_DN  &kp K_VOL_UP  &kp K_NEXT  &trans  &trans
        &bt BT_CLR  &trans     &trans      &kp K_SLEEP  &kp K_LOCK  &trans              &trans      &trans        &trans        &trans      &trans  &out OUT_USB
                                           &trans       &trans      &trans              &trans      &trans        &trans>;
    };
  };
};
