/ {
  macros {
    hyp: hyper {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&sk LG(LCTRL(LA(LS)))>;
    };

    hypk: hyper_key {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&hyp>, <&macro_param_1to1>, <&kp>;
    };
  };
};
