/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk {
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    macros {
    };

    behaviors {
        tds: tapdance_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_SHIFT";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&kp CAPS>, <&caps_word>;
        };

        td: td {
            compatible = "zmk,behavior-tap-dance";
            label = "TD";
            #binding-cells = <0>;
            bindings = <&kp>, <&kp>;
        };


        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_1>,
                <&kp F1>;
        };
        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_2>,
                <&kp F2>;
        };
        td3: td3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD3";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_3>,
                <&kp F3>;
        };
        td4: td4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD4";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_4>,
                <&kp F4>;
        };
        td5: td5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD5";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_5>,
                <&kp F5>;
        };
        td6: td6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD6";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_6>,
                <&kp F6>;
        };
        td7: td7 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD7";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_7>,
                <&kp F7>;
        };
        td8: td8 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD8";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_8>,
                <&kp F8>;
        };
        td9: td9 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD9";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_9>,
                <&kp F9>;
        };
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings =
                <&kp NUMBER_0>,
                <&kp F10>;
        };
        homerow_1: homerow_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_1";
            #binding-cells = <0>;
            bindings =
                <&kp A>,
                <&td1>;

            mods = <MOD_LCTL>;
        };
        homerow_2: homerow_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_2";
            #binding-cells = <0>;
            bindings =
                <&kp S>,
                <&td2>;

            mods = <MOD_LCTL>;
        };
        homerow_3: homerow_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_3";
            #binding-cells = <0>;
            bindings =
                <&kp D>,
                <&td3>;

            mods = <MOD_LCTL>;
        };
        homerow_4: homerow_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_4";
            #binding-cells = <0>;
            bindings =
                <&kp F>,
                <&td4>;

            mods = <MOD_LCTL>;
        };
        homerow_5: homerow_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_5";
            #binding-cells = <0>;
            bindings =
                <&kp G>,
                <&td5>;

            mods = <MOD_LCTL>;
        };
        homerow_6: homerow_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_6";
            #binding-cells = <0>;
            bindings = <&kp H>, <&td6>;
            mods = <MOD_LCTL>;
        };
        homerow_7: homerow_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_7";
            #binding-cells = <0>;
            bindings = <&kp J>, <&td7>;
            mods = <MOD_LCTL>;
        };
        homerow_8: homerow_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_8";
            #binding-cells = <0>;
            bindings = <&kp K>, <&td8>;
            mods = <MOD_LCTL>;
        };
        homerow_9: homerow_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_9";
            #binding-cells = <0>;
            bindings = <&kp L>, <&td9>;
            mods = <MOD_LCTL>;
        };
        homerow_0: homerow_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_0";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&td0>;
            mods = <MOD_LCTL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            label = "Base";
            bindings = <
&kp LG(SPACE)    &kp Q  &kp W  &kp F         &kp P                 &kp G          &kp J        &kp L                   &kp U       &kp Y    &kp SEMICOLON  &kp BACKSLASH
&tds             &kp A  &kp R  &kp S         &kp T                 &kp D          &kp H        &kp N                   &kp E       &kp I    &kp O          &kp SQT
&kp LA(LC(TAB))  &kp Z  &kp X  &kp C         &kp V                 &kp B          &kp K        &kp M                   &kp COMMA   &kp DOT  &kp FSLH       &kp PRINTSCREEN
                               &kp LEFT_WIN  &mt LEFT_CONTROL TAB  &lt 1 ENTER    &lt 2 SPACE  &kp BACKSPACE  &mt LALT ESCAPE
            >;
        };

        Symbols {
            label = "Symbols";
            bindings = <
&trans       &kp BACKSLASH  &kp PIPE   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LG(SPACE)    &kp HOME  &kp PG_DN       &kp PAGE_UP   &kp END    &trans  &trans
&trans       &kp MINUS      &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE        &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&bootloader  &kp UNDER      &kp PLUS   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE        &trans    &trans          &trans        &trans     &trans  &to 3
                                       &trans                &trans                 &trans           &trans    &trans          &trans
            >;
        };

        Numbers {
            label = "Numbers";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans        &bootloader
                                    &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };

        Gaming {
            label = "Gaming";
            bindings = <
&kp M           &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I      &kp O    &kp P          &kp BACKSLASH
&kp I           &td A B    &homerow_2   &homerow_3   &homerow_4   &homerow_5         &homerow_6  &homerow_7  &homerow_8      &homerow_9    &homerow_0  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH       &to 0
                              &mt LEFT_ALT ESCAPE  &mt LCTRL TAB  &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp DEL
            >;
        };
    };
};
